/*.fadeIn
{
	-webkit-animation-duration: 3s;
	-webkit-animation-fill-mode:both;
	-webkit-animation-name:fadeIn;

	animation-duration: 3s;
	animation-fill-mode:both;
	animation-name:fadeIn;
}

@keyFrames fadeIn
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 1;
	}
}


.fadeInDown
{
	-webkit-animation-duration: 2s;
	-webkit-animation-name:fadeInDown ;
	-webkit-animation-fill-mode:both;

	animation-duration: 2s;
	animation-name:fadeInDown ;
	animation-fill-mode:both;
}

@keyFrames fadeInDown
{
	from
	{
		opacity: 0;
		transform:translate3d(0,-100%,0);
		-webkit-transform:translate3d(0,-100%,0);
		
	}
	to
	{
		opacity: 1;
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
	}
}
*/
/*
*/