/*
colores
gris negro; #2d2d2d;
gris oscuro: #1d252c;
gris claro; #626262;
background gris: #1d2127;
celeste #026fff;

*/

@import url("fuentes.css");

body
{
	font-family: 'sourcesans', sans-serif;
	margin: 0px;
	background: #E7E4E4;
}

h1,h2,h3,h3,h4,h5,h6
{
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
}

h1
{	
	font-size: 30px;
	line-height: 150%;
	letter-spacing: -.2px;
	color: #fff;
}

h1 strong
{
	color: #026fff;
}

h2
{
	color: #026fff;
	text-transform:uppercase;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 40px;
}

.hero
{
	height: 300px;
	background-color:#1d2127 ;
	display: flex;
	align-items: center; /*centrar en el heigth*/
	justify-content: space-between; /*mandarlos hacia la izquierda*/
	flex-wrap: wrap;
}

.menu
{
	background: #2d2d2d;

}

ol li
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.link
{
	color:#fff ;
	text-decoration: none;
	display:flex;
	font-size: 20px;
	align-items: center;
}
.header a
 {
    height: inherit;
    align-items: center;
    display: block;
    flex-direction: column;
 }

 .menu
{
	height: inherit;
}

.header ol
{
	display: flex;
	height: inherit;
}

.header
{
	height: inherit;
}

a:hover
{
	background: #8de739;
	color:#000;
	padding: 7px 5px;
	border-radius: 5px;

}



