/*
colores
gris negro; #2d2d2d;
gris oscuro: #1d252c;
gris claro; #626262;
background gris: #1d2127;
celeste #026fff;

*/

@import url("fuentes.css");

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bqb2fe');
  src:  url('../fonts/icomoon.eot?bqb2fe#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bqb2fe') format('truetype'),
    url('../fonts/icomoon.woff?bqb2fe') format('woff'),
    url('../fonts/icomoon.svg?bqb2fe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
  content: "\e900";
}
/*=============================*/
:root
{
  /*color*/
  --black-color:#121212;
  --grey-light-color:#e7e4e4;
  --celeste-color:#3FBFDC;
  --white-color: #ddd;
  --black-shadow-7:rgba(18, 18, 18,0.7);
  --white-shadow-1:rgba(255,255,255,0.1);

  /*letra*/
  --font-18:18px;

}
/*=============================*/


body
{
	font-family: 'sourcesans', sans-serif;
	margin: 0px;
  padding: 0px;
	background-color: var(--black-color);
  font-size: var(--font-18);

}

h1,h2,h3, h4,h5,h6
{
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
}


h1
{	
  display: flex;
	font-size: 36px;
	line-height: 1.5;
	letter-spacing: -.2px;
	color:var(--white-color);
  font-family: sourcesans-bold;  
	position: absolute;
	top:50%;
  left: 50%;
	background: rgba(0,0,0,.3);
	text-transform: uppercase;
  transform: translate(-50%, -50%);
}


h3, h4 {
  color: var(--white-color);
  text-transform: uppercase;

}

h3 {
  font-size: 20px;
  padding:10px 20px;

}
h4 {
  font-size: 20px;
  padding:0 0 0 10px;

}

.fadeIn
{
  margin: auto;
}	


h2
{
	color: var(--white-color);
	text-transform:uppercase;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 40px;
}

.hero
{
	height: 100vh;
  /*background: linear-gradient(to right, #1d2127, #E7E4E4);*/
	display: flex;
	align-items: center; 
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
}

.logo img
{
    height: 70px;
    width:110px;
    overflow: hidden;
}

.hero-image
{
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

.program
{
  background:#fff;
  display: block;
  padding:10px;
  color: #000;
  text-transform: uppercase;
  
}

.program li
{
  border:1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}
.program a {
  text-decoration: none;
  color:#000;
}

.portafolio {
	background: var(--black-color);
	padding: 20px;
}

.knowing{
  padding: 20px;
}
.knowing-box{
  width: 85VW;
  margin: auto;
}

.knowing-box_title {
  color: var(--white-color);
  background: var(--white-shadow-1);
  font-weight: bold;
  padding:15px;
  border-radius: 15px;
  border:1px solid var(--white-color);

}

.knowing-box_text {
  padding:0 30px 20px 30px;
}

.knowing-box_text {
  color: var(--white-color);
}
.project {
  width: 85vw;
  height:170px;
  margin: auto;
	border:1px solid grey;
	border-radius: 10px;
	margin-bottom: 15px;
	padding: 10px;
	background: var(--white-shadow-1);
  color:var(--white-color);
  
}

.project {
  display: grid;
  grid-template-columns:1fr ;
  grid-template-rows: 35px 90px 42px;
  grid-template-areas:"project-title" 
                      "project-details "
                      " project-Button" ;

}

.project-title {
  grid-area: project-title;
  font-size: 20px;
  margin:7px;
}
.project-details {
  display: grid;
  margin: 5px 0 5px 0;
  margin-left: 20px;
  grid-area: project-details;
}
.project-Button {
  grid-area: project-Button;
  display: flex;
  justify-content: space-between;

}

.project-Button-start{
  color:var(--white-color);
  padding: 7px 15px;
  background:var(--white-shadow-1);
  border:1px solid #ddd;
  border-radius: 15px;
  text-decoration: none;
  margin:10px;  
}
.project-Button-github {
  color:var(--white-color);
  padding: 7px 20px;
  background:var(--white-shadow-1);
  border:1px solid #ddd;
  border-radius: 15px;
  text-decoration: none;
  margin:10px;

}
	
.menu
{
	/*background: var(--grey-light-color);*/
  font-size: 20px;
  font-family: sourcesans-semiblod, sans-serif;
}

/*======================================*/
.header
{
	background: var(--white-color);
	color: #fff;
	display: flex;
	height: 90px;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

ol,li
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

figure
{
	margin: 0px;
}


 .menu
{
	/*height: inherit;*/
}

.header ol
{
	display: flex;
}

.header ol li 
{
	align-items: center;
}

.header a
{
	display: flex;
	align-items: center;    
}
.header a
 {
  padding: 10px 20px; 
  background: var(--white-shadow-1);
  color: var(--letter-white-color);
  margin: 0 20px;
  border-radius: 30px;
  text-decoration: none;
  text-shadow: var(--celeste-color);
  border: 1px solid #ddd;
 }

/*================================================*/
.container {
  flex: 1; /*Sirve para darle el 100% del espacio disponible*/
  margin: 0px auto;
  display: inherit;
  justify-content: inherit;
  align-items: center;
  height: inherit;
  flex-wrap: inherit;
  background: var(--black-color)
}


  .title-logo {
  font-family: permanent-marker;
  color:var(--letter-white-color);
  padding: 0 0 0 20px;
  font-size: 28px;
  align-items: center;
  margin:0;

}
/*=====================================================*/

/*==========================FOOTER===========================*/
 .footer 
 {
 	color: #fff;
 	background:var(--white-shadow-1);
 	display: flex;
 	text-align: center;
 	align-items: center;
 	justify-content: center;
 	flex-wrap: wrap;
}

.footer img
{
	vertical-align: middle;
}

.footer a
{
	color: #fff;
}


.contact {
  background: var(--white-shadow-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid var(--white-color);

}

.contact-info {
  color: var(--white-color);
  padding-left: 20px;
  padding-right: 20px;
/*  border-right-height: 1px solid var(--white-color);
*/
}
.contact-info h5 {
  font-size: 20px;
  margin: 20px 0;
  font-weight: bold;
}

.contact-info p {
  margin: 10px 0;
}
.contact-social {
  margin: 20px 30px;
}

.contact-social p{
  color: var(--white-color);
  font-size: 20px;
  font-weight: bold;
}
.contact-social-link 
{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
  color: #fff;
}

.contact-social-link.linkein {
  background-image: url('../image/linkedin.svg');
}

.contact-social-link.github {
  background-image: url('../image/github.svg');
}

.contact-social-link.instagram  {
  background-image: url('../image/instagram.svg');
}

.contact-social-link.twitter {
  background-image: url('../image/twitter.svg');
}

.contact-social-link.facebook {
  background-image: url(../image/facebook.svg)
}




.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .4);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  color: white;
} 

@media screen and (max-width: 1023px) 
{

  .menu {
    font-size: 18px;
  }
  .header a {
    margin: 0 10px;
  }
  .portafolio {
    padding: 0;
  }
  .container {
    padding: 0 1em;
  }
  .hero {
    height: 40px;
    position: relative;
    overflow: hidden;
    padding: 2em;
    font-size: 1.4em;
  }
  .hero-image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 30vh;
    opacity: 70%;
  }
  h1 {
    font-size: .8em;
    z-index: 2;
    margin: auto;
    color: var(--white-color);
  }

}

@media screen and (min-width: 765px)
{
  .fade_In
  {
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode:both;
    -webkit-animation-name:fadeIn;

    animation-duration: 3s;
    animation-fill-mode:both;
    animation-name:fadeIn;
  }

  @keyFrames fadeIn
  {
    from
    {
      opacity: 0;
    }
    to
    {
      opacity: 1;
    }
  }


  .fadeInDown
  {
    -webkit-animation-duration: 2s;
    -webkit-animation-name:fadeInDown ;
    -webkit-animation-fill-mode:both;

    animation-duration: 2s;
    animation-name:fadeInDown ;
    animation-fill-mode:both;
  }

  @keyFrames fadeInDown
  {
    from
    {
      opacity: 0;
      transform:translate3d(0,-100%,0);
      -webkit-transform:translate3d(0,-100%,0);
      
    }
    to
    {
      opacity: 1;
      transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
    }
  }

}

@media screen and (max-width: 764px) 
{
  .hero
  {
    height: 40px;
  }

  h1
  {
    font-size: .6em;
  }

  h2 
  {
    font-size: 1.2em;
    margin: .5em 0;
  }
  .title-logo {
    display: flex;
    justify-content: center;
  }
  .burger-button 
  {
    display: block;
  }
  .header 
  {
    display: block;
    height: auto;
  }
  .header ol 
  {
    display: block;
  }
  .header ol li 
  {
    height: 50px;
    margin: 20px 0;
  }
  .header a 
  {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: none;
    margin-bottom: 2em;
    
    background:var(--black-shadow-7);
  }
  .header .logo 
  {
    text-align: center;
  }

  .menu 
  {
    position: fixed;
    background: rgba(130, 130, 130, .8);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }

  .menu.is-active 
  {
    left: 0;
  }

  .project 
  {
    display: block;
  }
  .project-imageContainer 
  {
    width: auto;
    text-align: center;
  }
  .project-detail 
  {
    width: auto;
    /* font-size: 10px; */
  }

  .project-title 
  {
    font-size: 1.5em;
    margin-bottom: .3em;
  }
  .event 
  {
    width: 100%;
    flex-shrink: initial;
  }

  .event img 
  {
    width: 100%;
  }
 }

@media screen and (max-width: 480px) 
{
  
  h1 
  {
    font-size: .6em;
    color:var(--white-color);

  }

  .hero
  {
    height: 40px;

  }

  .contact 
  {
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
  }
  .form-email button 
  {
    margin: 1em auto;
  }
  .form-email h3 
  {
    margin-top: 0;
  }
  .footer 
  {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
  .social-link 
  {
    width: 40px;
    height: 40px;
    background-size: 100%;
  }
  .project-detail
  {
  	font-size: 14px;
  	 align-items: center;
    justify-content: center;
    text-align: center;
  }
  .portafolio
  {

  	width: 100vw;
  }
 }
	

@media screen and (max-width: 320px) 
{
  h1 
  { 
    font-size: .6em;
    align-items: center;
      background: rgba(0,0,0,.5);
  }
  h1 strong
  {
    color: var(--letter-white-color);
  }
  .hero 
  {
    height:50px;
    padding: 2em 1em;

  }
  .portafolio
  {
  	width: 97vw;
  }
  .event-list
  {
  	width: 100vw;
  }

}

